doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body
    header 
      h1 NOOM
    main
      div#welcome
        form#home(action="")
          input#room-name(placeholder="room name", required, type="text")
          input#nickname(placeholder="nickname", required, type="text")
          button Enter Room 
        h3 Open-Room 
        ul#room-list
      div#room
        h3#room-name
        ul#chat-list
        form#room-form(action="")
          input#message(placeholder="message", required, type="text")
          button#message-send Send
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js")